.button {
  background-color: rgb(209, 175, 21);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  margin-left: 10px;
}
